@using umbraco
@using umbraco.MacroEngines
@using System.Linq
@inherits umbraco.MacroEngines.DynamicNodeContext
<script src="/scripts/fancybox/jquery.fancybox.pack.js" type="text/javascript"> </script>
<script src="/scripts/projectes.js" type="text/javascript"> </script>
<script src="/scripts/fancybox/helpers/jquery.fancybox-buttons.js" type="text/javascript"> </script>
<script src="/scripts/fancybox/helpers/jquery.fancybox-media.js" type="text/javascript"> </script>
<script src="/scripts/fancybox/helpers/jquery.fancybox-thumbs.js" type="text/javascript"> </script>
<script src="/scripts/nivo-slider/jquery.nivo.slider.js" type="text/javascript"> </script>
<link href="/css/fancybox/jquery.fancybox-thumbs.css" rel="stylesheet" type="text/css" />
<link href="/css/fancybox/jquery.fancybox-buttons.css" rel="stylesheet" type="text/css" />
<link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
<link href="/css/nivo-slider/nivo-slider.css" rel="stylesheet" type="text/css" />
<div id="imatgesProjectes">
    <div class="slider-wrapper theme-light slider-wrapper theme-default"><div class="ribbon"></div>
        <div id="nivoslider-15" class="nivoSlider imatgeGran">
            @{
                var i = 0;
                foreach (dynamic imatge in Model.imatgesDelProjecte)
                {
                    <a class="fancybox" rel="gallery1" href="@Model.imatgesDelProjecte.mediaItem[i].Image.umbracoFile"><img src="@Model.imatgesDelProjecte.mediaItem[i].Image.umbracoFile" alt="@Model.Name"/></a>
                    i++;
                }
            }
        </div>
    <div class="descripcioProjecte">
        @{
            <h1 class="hide">@Model.Name @Dictionary.keywords</h1>
            if (Model.titulProjecte != null)
            {
                <h2>@Model.titulProjecte</h2>
            }
            if (Model.subtitulProjecte != null)
            {
                <h3>@Model.subtitulProjecte</h3>
            }
            if (Model.localitzacioProjecte != null)
            {
                <h4>@Model.localitzacioProjecte</h4>
            }
            if (Current.GetPropertyValue("clientProjecte")!="")
            {
                <h5>@Dictionary.client @Model.clientProjecte</h5>
            }
        }
        <div class="genericDescription">
            <p>@Model.descripcio</p>
        </div>
    </div>
          </div>
    
    @*<div class="contenidorImatges">
        @{
            List<object> imatges = new List<object>();
            string[] classeProjecte = new string[] {"primeraFila", "segonaFila", "terceraFila"};
            foreach (var imatge in Model.imatgesDelProjecte.mediaItem)
            {
                imatges.Add(imatge.Image.umbracoFile);
            }
            float limitImatges = (float) @imatges.Count()/(float) 4;
            for (var i = 0; i < Math.Ceiling(limitImatges); i++)
            {

            <ul class="@classeProjecte[i]">
                @foreach (var imatge in imatges.Take(4))
                    {

                    <li><a rel="imatges-thumb" href="@imatge">
                        <img src="@imatge" height="40" width="50" alt="@Model.Name"/>
                    </a></li>
                    }
            </ul>

                imatges.RemoveRange(0, @imatges.Count() > 4 ? 4 : @imatges.Count());
            }

            <input type="hidden" id="valorFilesImatges" value="@Math.Ceiling(limitImatges)"/>

            <input type="hidden" id="idFilesImatges" value="#imatgesProjectes .contenidorImatges" />
 }
    </div>*@
</div>
