@using umbraco.MacroEngines
@{
    dynamic posicio = @CurrentModel.AncestorOrSelf("master");
    DynamicNode idiomaNode = @CurrentModel.AncestorOrSelf("home");
}
@{
    if (CurrentModel.NodeTypeAlias == "master")
    {
        HttpContext.Current.Response.Redirect(Model.Children[0].Url);
    }
}

<h1 class="hide">@Dictionary.defaultDescription</h1>
<div id="central">
    <div class="header">
        <div class="logo">
            <a href="@idiomaNode.Url" >
                <img src="@posicio.logo.mediaItem[0].Image.umbracoFile" alt="Llongueras Clotet @Dictionary.keywords" />
            </a>
        </div>

        <ul class="idioma">
            @{
                DynamicNode myIdiom = Model.AncestorOrSelf("home");
                DynamicNodeList webSite = Model.Ancestors("master");
                DynamicNodeList homeList = webSite.Items.First().Descendants("home");
                if (!homeList.IsNull() && homeList.Items.Count > 0)
                {
                    foreach (dynamic home in homeList)
                    {
                        string redirect = @home.Url;
                        <li class="@(home.IsFirst() ? "first" : "none")">
                            <a href="@redirect" title="@home.nomIdioma" class="@(home.Id == myIdiom.Id ? "seleccionat" : "")">
                                @home.nomIdioma.ToUpper()
                            </a>
                        </li>
                    }
                }
            }
        </ul>

        <ul class="menu">
            @foreach (dynamic item in @idiomaNode.Descendants(2).Items.Take(2))
            {
                string name = @item.NodeTypeAlias()=="estudi" ? @Dictionary.estudi : @Dictionary.publicacionsPremis;
                <li>
                    <a class="@(item.Id==CurrentModel.Id?"seleccionat":"")" href="@item.Url">
                        <h2>@name.ToUpper()</h2>
                    </a>
                </li>
            }    
        </ul>

        <ul class="menuProjectes">
            <h2 class="hide">@Dictionary.projectes</h2>
            @foreach (DynamicNode item in @idiomaNode.Descendants("tematica").Items.Take(1))
            {
                if (string.Compare(@item.NodeTypeAlias, "tematica") == 0)
                {
                    foreach (DynamicNode tematica in @item.Descendants("tematica").Items.OrderByDescending(x=>x.SortOrder))
                    {
                        if (tematica.Descendants("Projectes") != null)
                        {
                            <li>
                                @{
                            DynamicNode projecte = CurrentModel.AncestorOrSelf("tematica") ?? CurrentModel;
                                }
                                <a class="@(string.Compare(projecte.Url,tematica.Url)==0?"seleccionat":"")" href="@tematica.Descendants("Projectes").Items.FirstOrDefault().Url">
                                    <h3>@tematica.Name.ToUpper()</h3>
                                </a>
                            </li>
                        }
                        
                    }
                }
            }
        </ul>
        <ul class="linea">
            <img src="@posicio.linea.mediaItem[0].Image.umbracoFile" alt="@Dictionary.keywords" />
        </ul>
    </div>
</div>